{% load messages_filters %}

{% if messages %}
<div id="messages-container" class="fixed top-4 right-4 z-50 space-y-4 w-full max-w-md">
    {% for message in messages %}
            <div class="alert shadow-lg fade-in {{ message.level_tag|alert_class }}" role="alert">
            <div class="flex justify-between w-full items-center gap-8">
                <div class="flex items-center gap-2">
                    {% if message.level_tag == 'success' %}
                        <i class="fas fa-check-circle text-2xl"></i>
                    {% elif message.level_tag == 'error' %}
                        <i class="fas fa-exclamation-circle text-2xl"></i>
                    {% elif message.level_tag == 'warning' %}
                        <i class="fas fa-exclamation-triangle text-2xl"></i>
                    {% else %}
                        <i class="fas fa-info-circle text-2xl"></i>
                    {% endif %}
                    <span>{{ message }}</span>
                </div>
                <button onclick="closeMessage(this.parentElement.parentElement)" 
                    class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <i class="fas fa-times "></i>
                </button>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}