<!-- Modale de suppression de tâche -->
<dialog id="delete_task_modal_{{ task.pk }}" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box max-w-l bg-base-200 w-11/12 sm:w-full">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <!-- Icône et titre -->
        <div class="text-center space-y-2 sm:space-y-4 mb-2 sm:mb-4">
            <i class="fa-solid fa-triangle-exclamation text-3xl sm:text-4xl text-error animate-pulse"></i>
            <h2 class="text-lg sm:text-xl font-bold">Confirmer la suppression</h2>
        </div>

        <div class="card bg-base-100 shadow-2xl">
            <div class="card-body p-2 sm:p-4">
                <!-- Message d'avertissement -->
                <div class="alert alert-error shadow-lg my-2 sm:my-4 text-white">
                    <i class="fa-solid fa-circle-exclamation text-sm sm:text-base"></i>
                    <div class="flex-1">
                        <h3 class="font-bold text-xs sm:text-sm">Attention !</h3>
                        <p class="text-xs sm:text-sm">
                            Êtes-vous sûr de vouloir supprimer la tâche "<span class='font-semibold'>{{ task.title }}</span>" ?
                            <span class="hidden sm:inline">Cette action est irréversible.</span>
                        </p>
                    </div>
                </div>

                <!-- Actions -->
                <div class="flex justify-end gap-2 sm:gap-3 mt-2 sm:mt-4">
                    <button onclick="closeModal({{ task.pk }}, 'task', 'delete')" class="btn btn-success text-white btn-xs sm:btn-sm">
                        <i class="fa-solid fa-xmark mr-1 sm:mr-2 text-xs sm:text-sm"></i>
                        <span class="text-xs sm:text-sm">Annuler</span>
                    </button>
                    <form action="{% url 'tasks:delete' task.pk %}" method="POST" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-error hover:bg-red-600 transition-colors text-white btn-xs sm:btn-sm">
                            <i class="fa-solid fa-trash-alt mr-1 sm:mr-2 text-xs sm:text-sm"></i>
                            <span class="text-xs sm:text-sm">Supprimer</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>